@page
@model jcu.Pages.Join.DatesModel
@{
    ViewData["Title"] = "Dates";
}


<table class="usa-table-borderless">
    <caption>Screening Dates</caption>

    <tbody>
        <tr>
            <th scope="row">16th - 20th April 2018</th>

        </tr>
        <tr>
            <th scope="row">14th - 18th May 2018</th>

        </tr>
        <tr>
            <th scope="row">18th - 22nd June 2018</th>

        </tr>
        <tr>
            <th scope="row">16th - 20th July 2018</th>

        </tr>
        <tr>
            <th scope="row">20th - 24th August 2018</th>

        </tr>
        <tr>
            <th scope="row">17th - 21st September 2018</th>

        </tr>
        <tr>
            <th scope="row">15th - 19th October 2018</th>

        </tr>
        <tr>
            <th scope="row">13th - 16th November 2018</th>

        </tr>
        <tr>
            <th scope="row">10th - 14th December 2018</th>

        </tr>
    </tbody>
</table>