@page
@model MediaModel
@{
    ViewData["Title"] = "Why Join";
}
<h2>@ViewData["Title"]</h2>

<div class="usa-grid">


<section="usa-embed-container">

<h4>Joint Communications Unit Recruiting Brief</h4>
<iframe  src="https://www.youtube.com/embed/YINnC8QzfCw?rel=0" frameborder="0" allowfullscreen="allowfullscreen" allow="encrypted-media" ></iframe>

<h4>Recruiting Video</h4>
<iframe src="https://www.youtube.com/embed/pvPPqjK1Ob0?rel=0" frameborder="0" allowfullscreen="allowfullscreen" allow="encrypted-media" ></iframe>

<h4>AFN Commercials</h4>
<iframe  src="https://www.youtube.com/embed/_0QqF74dOLc?rel=0" frameborder="0" allowfullscreen="allowfullscreen" allow="encrypted-media" ></iframe>


<iframe  src="https://www.youtube.com/embed/TDCnCE1Ty6A?rel=0" frameborder="0" allowfullscreen="allowfullscreen" allow="encrypted-media" ></iframe>

<iframe src="https://www.youtube.com/embed/lg4u9q82uug?rel=0" frameborder="0" allowfullscreen="allowfullscreen" allow="encrypted-media" ></iframe>

<iframe src="https://www.youtube.com/embed/G_oHnDSMbZc?rel=0" frameborder="0" allowfullscreen="allowfullscreen" allow="encrypted-media"></iframe>
</section>
</div>